* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;

}

.card {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    border-radius: 12px;
    background-color: rgb(224, 255, 255);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

}


img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    
}

.img-p {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}


.button {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: brown;
    color: white
}